<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>572870226575-vbrmuququammtb0f09egt4m45snjuusu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572870226575-vbrmuququammtb0f09egt4m45snjuusu</string>
	<key>API_KEY</key>
	<string>AIzaSyAMX1-82WeFIacIIFqgze71wHOMyd55Vx0</string>
	<key>GCM_SENDER_ID</key>
	<string>572870226575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lemosandre.ToysListIOS</string>
	<key>PROJECT_ID</key>
	<string>toyslistios</string>
	<key>STORAGE_BUCKET</key>
	<string>toyslistios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572870226575:ios:be7a2607850a31845f36fa</string>
</dict>
</plist>